
@{
    ViewBag.Title = "Contact";
}

    
    <div class="box">
        <input type="text" id="search" Value="Search">
        <img id="searchbtn" src="~/Content/images/search.png" />
        <div id="filterbtn" class="filterbtn" onclick="myFunction()">
            <img src="~/Content/images/filter.png" />
            Filters
        </div>

        <div id="filters" style="display:block;">

            <div style="border-bottom:1px solid #ddd; margin-top:20px;"></div>

            <h4 style="font-weight:bold; margin-top:20px;">Kompetenser</h4>


            <div id="technologies" style="display:block;">
                <h4 style="font-weight:bold; margin-top:20px;">Teknologier</h4>
                
            </div>

       </div>
    
    </div>

<div class="freelancerbox">

    

            


</div>



