@{
    ViewBag.Title = "DoorIn";
    Layout = "~/Views/Shared/_justFooter.cshtml";
}


    <header class="header">
        <div class="container">
            <a href="@Url.Action("Index", "Home")">
                <img id="logo" alt="Logo" src="~/Content/images/doorin.png">
            </a>

            <div class="header-links">
                <h3>@Html.ActionLink("Bli medlem", "Join", "Home")</h3>
                @Html.ActionLink("Logga in", "Login", "Home", null, new { @class = "btn" })
            </div>
        </div>
    </header>



    <div class="textandimage">
        <img class="imagesfullwidth fourthyvh" src="~/Content/images/computer.jpg">
        <p class="whitebgtext bgtext">Hitta jobb som frilansare. <br/> Hitta en frilansare att jobba med.</p>
    </div>

    <div class="paddingleftright10 container paddingtop20">
        <h4>
            DoorIn är ett socialt nätverk för yrkesverksamma.
        </h4>
        <p>
            Oavsett om du är marknadsförare på ett stort företag, egenföretagare eller student som letar efter
            sitt första jobb efter examen, så är DoorIn ett bra alternativ för dig. Vi hjälper dig att hitta andra 
            yrkesverksamma och får fart på din karriär!
         
        </p>
            <h5>Text från: <a href="https://www.lifewire.com/what-is-linkedin-3486382">Lifewire</a></h5>
    </div>
