
@{
    ViewBag.Title = "Join";
    Layout = "~/Views/Shared/_justFooter.cshtml";
}

    <div id="topborder"></div>
    <h4 class="paddingtop10 marginleft10">@Html.ActionLink("Tillbaka", "Index", "Home")</h4>

            <div class="content-middle">
                <img class="imgcenter" src="~/Content/images/doorin.png" style="max-width:100px;">
                <h2 class="center paddingtop10">Välkommen till DoorIn</h2>
                <h5 class="center ">Välj om du vill gå med som frilansare eller rekryterare.</h5>

                
                <div class="center paddingtop10">
                    @Html.ActionLink("Gå med som frilansare", "Create", "freelancers", null, new {@class = "btn"})
                    @Html.ActionLink("Gå med som rekryterare", "Create", "customers", null, new {@class = "btn marginleft10"})
                </div>
                
                
            </div>

