
@{
    ViewBag.Title = "Join";
    Layout = "~/Views/Shared/_justFooter.cshtml";
}

    <div id="topborder"></div>
    <h4 class="paddingtop10 marginleft10">@Html.ActionLink("Go back", "Index", "Home")</h4>

            <div class="content-middle">
                <img class="imgcenter" src="~/Content/images/doorin.png" style="max-width:100px;">
                <h2 class="center paddingtop10">Welcome to DoorIn</h2>
                <h5 class="center ">Please choose if you want to join as freelancer or recruiter.</h5>

                
                <div class="center paddingtop10">
                    @Html.ActionLink("Join as freelancer", "Create", "freelancers", null, new {@class = "btn"})
                    @Html.ActionLink("Join as recruiter", "Create", "customers", null, new {@class = "btn marginleft10"})
                </div>
                
                
            </div>

