* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    background-color: #FFF;
    font-family: Helvetica;
}

img {
    max-width: 100%;
    height: auto;
}

/*#region Style h2, h3, h5, p, a, a:hover, centrera text*/

h2 {
    font-size: calc(12px + 1.8vh);
}

h3 {
    font-family: Calibri;
    font-size: 5vh;
}

h5 {
    font-size: calc(10px + 0.3vh);
    font-weight: 300;
}

p {
    color: #555;
    font-family: Helvetica;
    font-size: calc(12px + 0.5vh);
}

a {
    text-decoration: none;
    color: #09964f;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

a:hover {
    color: #2c473d;
    text-decoration: underline;
}

.center {
    text-align: center;
}

/*#endregion*/



/*#region padding och margins*/

.paddingtop20 {
    padding-top: 20px;
}

.paddingtop10 {
    padding-top: 10px;
}

.paddingleftright10 {
    padding-left: 10px;
    padding-right: 10px;
}

.marginleft10 {
    margin-left: 10px;
}

.margintop10 {
    margin-top: 10px;
}

/*#endregion*/

.coretech {
    background-color: #09964f;
}

.competence {
    display: inline-block;
    background-color: #ddd;
    padding: 6px 8px;
    font-size: 16px;
    margin: 0 5px 5px 0;
}

.around {
    border-radius: 5px;
    border: 1px solid #333;
}

.active {
    background-color: rgba(34,34,34,0.8);
}

.content-middle {
    padding: 20px;
    max-width: 500px;
    display: block;
    margin: auto;
}

.imgcenter {
    display: block;
    margin: auto;
}

.imagesfullwidth {
    width: 100%;
    object-fit: cover;
}


/*#region Sök och filtrera styles*/

#SearchString {
    
}




.btnless {
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #09964f;
    background-color: #fff;
    color: #09964f;
    padding: 3px 5px;
    cursor: pointer;
    font-size: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 0 0 10px 10px;
}
.btnsaved {
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #09964f;
    background-color: #09964f;
    color: white;
    padding: 3px 5px;
    cursor: pointer;
    font-size: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 0 0 10px 10px;
}

.btnless:hover {
        color: #fff;
        background-color: #09964f;
        text-decoration: none;
}
.btnsaved:hover {
    color: #09964f;
    background-color: #fff;
    text-decoration: none;
}

#searchbtn {
    max-width:49px;
    background-color: #09964f;
    padding: 3px 3px;
    cursor: pointer;
    margin-left:-5px;
    margin-top:-4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#searchbtn:hover {
    background-color: #2c473d;
}

#filterbtn img {
    max-width:45px;
}

.filterbtn {
    width:115px;
    color: #2c473d;
    padding: 0px 3px;
    border: 2px solid #2c473d;
    border-radius: 5px;
    margin-top: 6px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.filterbtn:hover {
    background-color: #2c473d; 
    color: #FFF;
    border: 2px solid #2c473d;
}

.filterbtnactive {
    background-color:#2c473d;
    color:#FFF;
}

.search {
    border-radius: 0px;
    width: 70%;
    font-size: 16px;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
}

.filters {
    display: inline-block;
    border: 2px solid #ddd;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-right: 10px;
}

    .filters:hover {
        color: #FFF;
        background-color: #09964f;
        border: 2px solid #09964f;
    }
.tempactive {
    color: #FFF;
    background-color: #09964f;
    border: 2px solid #09964f;
}

#filters {
    display: none;
}

#technologies {
    display: none;
}

/*#endregion*/



/*#region Styles för freelancers på söksidan*/

.freelancerbox {
border-top: 1px solid #ddd;
padding:5px;
}

.freelancerlist {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}


/*#endregion*/



/*#region Header saker*/
header {
    background: #FFF;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    border-bottom: 0.5px solid #ccc;
}

#headerlogo {
    max-height: 40px;
    margin-top: 5px;
}

.header-links h3 {
    margin: 10px 0px 10px 0px;
    padding: 6px 15px 6px 15px;
    display: inline-block;
    vertical-align: top;
    font-family: Arial;
    font-size: calc(12px + 1vh);
}

#logo {
    margin-top: 1vh;
    width: 50vw;
}

#topborder {
    border: 6px solid #2c473d;
}

/*#endregion*/



/*#region Saker på startsidan*/

.fourthyvh {
    height: 40vh;
}

.textandimage {
    position: relative;
    text-align: center;
    color: #FFF;
}

.whitebgtext {
    font-size: calc(12px + 2.2vh);
    color: #07080e;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-family: Calibri;
}

.bgtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*#endregion*/



/*#region Footer style och så att den alltid stannar längst ner*/

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #FFF;
    border-top: 0.5px solid #ccc;
}

.footertext {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: calc(8px + 0.7vh);
    color: #333;
}

.footertext a:hover {
text-decoration: none;
}

#footerlogo {
    max-width: 80px;
    vertical-align: bottom;
    padding-right: 20px;
}

#page-container {
    position: relative;
    min-height: 100vh;
    margin: auto;
}

#content-wrap {
    padding-bottom: 45px;
}

/*#endregion*/



/*#region Saker som ska ändras om skärmen är större än 768px*/

@media screen and (min-width: 768px) {
    #SearchString {
        width: 60%;
    }

    #logo {
        padding: 5px 10px 10px 10px;
        float: left;
        max-width: 150px;
    }

    .header-links {
        padding: 10px 10px 10px 10px;
        float: right;
        vertical-align: middle;
    }

    .content-middle {
        margin-top: 10vh;
    }

    .box {
        border: 1px solid #ddd;
        padding: 15px 15px;
        box-shadow: 0px 0px 5px 1px #ddd;
    }

    #filterbtn {
        float: right;
        margin-top: -53px;
    }

}

@media screen and (min-width: 992px) {
    #SearchString {
        width:70%;
    }

}

    /*#endregion*/



    /*#region Style för input från inloggningen*/

    input[type=text], input[type=email], input[type=number], select, textarea {
        width: 100%;
        font-size: 16px;
        padding: 12px;
        border-radius: 3px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 6px;
        resize: vertical;
    }

    input[type=submit].filters, .filters {
        display: inline-block;
        background-color: white;
        border-radius: 1px;
        color: black;
        border: 2px solid #ddd;
        padding: 8px 12px;
        cursor: pointer;
        font-size: 16px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        margin-right: 10px;
        margin-bottom: 10px;
    }

        input[type=submit].filters:hover, .filters:hover {
            background-color: #09964f;
            color: white;
            border: 2px solid #09964f;
            cursor: pointer;
            font-size: 16px;
        }

    .active {
        background-color: rgba(34,34,34,0.8);
    }

    .filters.active {
        background-color: #09964f;
        color: #FFF;
        border: 2px solid #09964f;
    }

    input[type=submit], .btn {
        border-radius: 5px;
        background-color: #09964f;
        color: #FFFFFF;
        padding: 12px 20px;
        cursor: pointer;
        font-size: 16px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }

        input[type=submit]:hover, .btn:hover {
            background-color: #2c473d;
            color: #FFFFFF;
        }

    button a:visited, button a:link {
        text-decoration: none;
        color: #FFFFFF;
    }

    /*#endregion*/



    /*#region Overwrites boostrap theme*/

    .navbar-fixed-top {
        position: relative;
    }

    @media (min-width: 768px) {
        .navbar-nav {
            float: left;
        }
    }

    @media (min-width: 1200px) {
        .container {
            width: 1024px;
        }
    }

    .navbar-inverse {
        background-color: #2c473d;
        border-color: #FFF;
    }

        .navbar-inverse .navbar-nav > li > a {
            color: #FFFFFF;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }

            .navbar-inverse .navbar-nav > li > a:hover {
                text-decoration: underline;
                color: #eee;
            }





    /*#endregion*/