@model DoorinWebApp.Models.education

@{
    ViewBag.Title = "Radera";
}


<h2>Är du säker på att du vill radera denna utbildning?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Titel:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            Beskrivning:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            Datum:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default" />
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
